


.user-info .background-wallpaper {
    background-image: url('images/profile-user-banners/user-admin-banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 40vh;
    max-width: 100%;
    min-width: 60%;
}


.user-info .bottom-user-infos {
    max-width: 100%;
    min-width: 60%;
    background-color: rgb(26, 26, 26);
    overflow: auto;
}
.user-info .profile-image>img {
    border-color: rgb(26, 26, 26);
    /* animation: neon 3s ease-in-out infinite; */
}
.user-info .header-infos-left {
    width: 70%;
    float: left;
}
.user-info .header-infos-right {
    width: 30%;
    float: right;
}
.user-info .clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.user-info .btn-follow {
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 145px;
    max-width: 145px;
    background-color: rgb(63, 6, 95);
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
}
.user-info .btn-follow:hover {
   box-shadow: 0 0 10px 0 rgb(125, 12, 190) inset;
   transform: scale(1.1);
   cursor: pointer;
}
.user-info .btn-follow:active {
    box-shadow: 0 0 10px 0 rgb(125, 12, 190) inset;
    transform: scale(1);
    background-color: rgb(52, 6, 78);
    cursor: pointer;
}


.user-info #toggle-button {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.user-info .left-side-container{
    width: 80%;
    float: left;
}.user-info .right-section-container{
    width: 20%;
    float: right;
    background-color: rgb(26, 26, 26);
}
.user-info .card{
    flex-direction: row!important;
    max-height: 90px!important;
    border-radius: 0px!important;
    background-color: rgba(14, 14, 14, 0.705) !important;
}

.user-info .card-header{
    max-width: 30%;
    float: left;
    padding: 5px;
}
.user-info .card-body{
    max-width: 70%;
    float: right;
    gap: 0!important;
}
.user-info .card-body>p{
    max-width: 100%;
    margin: 0!important;
}
.user-info .card-header>img{
    max-width: 90px;
    border-radius: 5px;
    object-fit: cover!important;
    max-height:90px;
    border: 1px solid rgba(127, 23, 175, 0.295);
}
.user-info .contact-infos{
    max-height: 50px;
    padding: 0!important;
    margin: 20px 0px 25px 0px!important;
    color: rgb(204, 0, 255);
    text-decoration: underline rgb(204, 0, 255);

}
.user-info .social-links{
    padding: 20px 0px 20px 0px;
}

/*! Media Queries */

@media screen and (max-width: 375px) {

.user-info .container{
        padding: 2px!important;
    }

.user-info .right-section-container {
        display: none;
        visibility: hidden;
    }

.user-info .left-side-container{
        width: 100%;
    }

.user-info .background-wallpaper>svg{
        top: 20px;
        width: 1.8rem!important;
        height: 1.8rem!important;
    }

.user-info .background-wallpaper{
        min-height: 20vh;
    }

.user-info .profile-image{
        left: 10px;
        bottom: -60px;
        width: 120px!important;
    }

.user-info .profile-image>img{
        max-width: 120px!important;
        max-height: 120px!important;
        border: 2px solid #1A1A1A!important;
    }

.user-info .bottom-user-infos{
        padding: 0px 10px 0px 10px!important;
    }

.user-info .header-infos{
        flex-direction: column!important;
    }

.user-info .header-infos-left{
        width: 100%!important;
    }

.user-info .social-links{
        width: 100%!important;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 10px 0px 0px 10px;
    }

.user-info .header-infos-right{
        width: 100%!important;
        flex-direction: row;
        justify-content: start!important;
        align-items: flex-start!important;
    }

.user-info .header-infos-right>div{
        flex-direction: row;
        align-items: center!important;
        margin: 10px 0px 10px 0px!important;
    }

.user-info .section-about-me-box>div>hr{
        width: 100%!important;
    }

.user-info .section-about-me-box>div>h1{
        font-size: 1.5rem!important;
        width: 100%!important;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {

.user-info .container{
        padding: 2px!important;
    }

.user-info .right-section-container {
        display: none;
        visibility: hidden;
    }

.user-info .left-side-container{
        width: 100%;
    }

.user-info .background-wallpaper>svg{
        top: 20px;
        width: 1.8rem!important;
        height: 1.8rem!important;
    }

.user-info .background-wallpaper{
        min-height: 30vh;
    }

.user-info .profile-image{
        left: 10px;
        bottom: -80px;
        width: 120px!important;
    }

.user-info .profile-image>img{
        min-width: 120px!important;
        min-height: 120px!important;
        max-width: 180px!important;
        max-height: 180px!important;
        border: 2px solid #1A1A1A!important;
    }

.user-info .bottom-user-infos{
        padding: 0px 10px 0px 10px!important;
    }

.user-info .header-infos{
        flex-direction: column!important;
    }

.user-info .header-infos-left{
        width: 100%!important;
    }

.user-info .social-links{
        width: 100%!important;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 10px 0px 0px 10px;
    }

.user-info .header-infos-right{
        width: 100%!important;
        flex-direction: row;
        justify-content: start!important;
        align-items: flex-start!important;
    }

    .header-infos-right>div{
        flex-direction: row;
        align-items: center!important;
        margin: 10px 0px 10px 0px!important;
    }

.user-info .section-about-me-box>div>hr{
        width: 100%!important;
    }

.user-info .section-about-me-box>div>h1{
        font-size: 1.5rem!important;
        width: 100%!important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
.user-info .container{
        padding: 2px!important;
    }

.user-info .right-section-container {
        display: none;
        visibility: hidden;
    }

.user-info .left-side-container{
        width: 100%;
    }

.user-info .background-wallpaper>svg{
        top: 20px;
        width: 1.8rem!important;
        height: 1.8rem!important;
    }

.user-info .background-wallpaper{
        min-height: 30vh;
    }

.user-info .profile-image{
        left: 10px;
        bottom: -80px;
        width: 120px!important;
    }

.user-info .profile-image>img{
        min-width: 120px!important;
        min-height: 120px!important;
        max-width: 180px!important;
        max-height: 180px!important;
        border: 2px solid #1A1A1A!important;
    }

    .user-info bottom-user-infos{
        padding: 0px 10px 0px 10px!important;
    }

.user-info .header-infos{
        flex-direction: column!important;
    }

.user-info .header-infos-left{
        width: 100%!important;
    }

    .user-info social-links{
        width: 100%!important;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 20px 0px 10px 0px;
    }

.user-info .header-infos-right{
        width: 100%!important;
        flex-direction: row;
        justify-content: start!important;
        align-items: flex-start!important;
    }

.user-info .header-infos-right>div{
        flex-direction: row;
        align-items: center!important;
        margin: 10px 0px 10px 0px!important;
    }

.user-info .section-about-me-box>div>hr{
        width: 100%!important;
    }

.user-info .section-about-me-box>div>h1{
        font-size: 1.5rem!important;
        width: 100%!important;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
.user-info .container{
        padding: 10px!important;
    }

.user-info .right-section-container {
        width: 30%!important;
    }

.user-info .left-side-container{
        width: 70%!important;
    }

    .user-info .background-wallpaper>svg{
        top: 20px;
        width: 1.8rem!important;
        height: 1.8rem!important;
    }

.user-info .background-wallpaper{
        min-height: 30vh;
    }

.user-info .profile-image{
        left: 10px;
        bottom: -80px;
        width: 120px!important;
    }

.user-info .profile-image>img{
        min-width: 120px!important;
        min-height: 120px!important;
        max-width: 180px!important;
        max-height: 180px!important;
        border: 2px solid #1A1A1A!important;
    }

.user-info .bottom-user-infos{
        padding: 0px 10px 0px 10px!important;
    }



.user-info .header-infos-left{
        width: 60%!important;
    }

.user-info .social-links{
        width: 100%!important;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 20px 0px 20px 0px!important;
    }

.user-info .contact-infos{
       margin: 20px 0px 20px 0px!important;
    }



}
